


.homeHeader {
  margin-top: 100px;
  font-size: 70px;
  color: #333333;
}

.homeImage {
  max-width: 100%;
}

.homeContainer {
  position: relative;
  text-align: center;
  color: white;
}

.homeDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeButton {
  background-color: white;
}

.homePara {
  color: #333333;
  font-size: 20px;
}
